* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  perspective: 800px;
}

.overllay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overllay button {
  padding: 10px 20px;
  background-color: teal;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 28px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.container {
  width: 90%;
  padding: 0 10px;
  text-align: center;
  margin: 0 auto;
}

.container .head {
  border: 2px solid rgb(4, 216, 216);
  background-color: #eee;
  color: #000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.memory_game {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.memory_game .items {
  width: 18%;
  height: 150px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  border: 2px solid rgb(4, 216, 216);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.memory_game .items > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.memory_game .items .face {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.memory_game .items .back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  z-index: 1;
  overflow: hidden;
}

.memory_game .items .back img {
  width: 100%;
  height: 100%;
}

.memory_game .items.active {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
